# node modules
mobile/node_modules/
server/node_modules/

# environment
.env
.env.*
local.properties

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Expo / React Native
.expo/
.expo-shared/
*.expo
android/
ios/
web-build/
build/
dist/

# test / coverage
coverage/